*{
    margin: 0;
    padding:0;
}
.nav-list {
   display:flex;
}

.nav-list li{
   width:50%;
   background-color: green;
}

.nav-list li a{

}
.rightNav{
    background-color: blue;
    width: 50%;
}